BasedOnStyle: Google
IndentWidth: 2
Standard: Cpp11
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Left
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: true
AllowShortFunctionsOnASingleLine: None
